<% @page_title = 'Edit Password' -%>

<div id="edit-password">
  <h1>Edit Password</h1>

<fieldset  class="tabbed-box">
	<legend class="hidden">Edit Password</legend>
  <p>Passwords are encrypted before being stored in our database. It is not possible for our staff to see your password at any time, only to reset it to a new password which you can then change.</p>
  <% form_tag(:action => 'update_password') do -%>
    <% if not @user.errors.empty? -%>
      <div id="ErrorExplanation" class="ErrorExplanation">
        <h2><%= "#{pluralize(@user.errors.count, "error")} prohibited this password from being updated" %></h2>
        <%= content_tag("ul", @user.errors.full_messages.collect { |msg| content_tag("li", msg) }) %>
      </div>
    <% end -%>
    <table class="clean_style">
      <tr>
        <th>Username:</th>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <th>Current Password:</th>
        <td><%= password_field_tag(:previous_password) %></td>
      </tr>
      <tr>
        <th colspan="2">&nbsp;</th>
      </tr>
      <tr>
        <th>New Password:</th>
        <td><%= password_field_tag(:new_password) %></td>
      </tr>
      <tr>
        <th>Reconfirm Password:</th>
        <td><%= password_field_tag(:reconfirm_password) %></td>
      </tr>
    </table>
    <br />
    <br />
    <p>Having trouble picking a password?<br />May we suggest: 
      <span id="password_idea"><%= @password_idea %></span>&nbsp;&nbsp;(
      <span id="get_idea"><%= link_to_remote('give me another idea', 
            :url => {:action => 'get_password_idea'}, 
            :update => 'password_idea',
            :loading => "Element.hide('get_idea'), Element.show('getting_idea')",
            :complete => "Element.hide('getting_idea'), Element.show('get_idea')") %></span>
      <span id="getting_idea" style="display: none;">
        One moment...
      </span>
      )</p>

    <%= submit_tag('Update Password') %>
  <% end -%>
</div>
</fieldset>